<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <url>
      <loc>https://corybuecker.com/</loc>
      <lastmod>{{main_lastmod}}</lastmod>
   </url>

   {{#children}}
   <url>
      <loc>https://corybuecker.com/post/{{slug}}</loc>
      <lastmod>{{sitemapLastMod}}</lastmod>
   </url>
   {{/children}}
</urlset>
